body{
  background:yellow;
  height: 100%;
  }
html{
  height: 100%;
  margin:0;
  padding:0;
  box sizing: border-box;
}
.content{
  display:flex;
  justify-content:center;
  align-items:center;
  height: 100%;
  
}
.card{
  background:white;
  width: 360px;
  height:440px;
  margin:15px;
  border-radius:3px;
  box-shadow: 3px 0 7px rgba(0,0,0,0.2)
}
.card__active{
  background:white;
  height:500px;
}
p{
  display:flex;
  justify-content:center;
  align-items:center;
  height: 75px;
  padding:0;
}
.cup1{
  margin-top:10px;
  margin-bottom: 0;
  color: green;
  font-size: 50px;
}
img{
margin-top:80px;
  margin-bottom: 0;
}
.bronze{
   margin-top:100px;
  margin-bottom: 0;
}
.any{
  margin-top:40px;
  margin-bottom: 0;
  height: 30px;

}
.until{

  margin:0;
  height: 5px;
}
.card__active img{
  margin-top:140px;
  margin-bottom: 0;
}
.card__active .bronze{
  margin-top:131px;
  margin-bottom: 0;
}
.card__active .any{
  margin-top:70px;
  margin-bottom: 0;
}